.bannerhead {
  /* height: 100vh; */
  min-height: 500px;
  padding-bottom: 50px;
  /* background-image: url("../img/han.jpg"); */
  /* background-size: cover; */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
}

.banner {
    position: absolute;
    left: 0;
    top: 200px;
    right: 0;
    margin: auto;
    /* background-color: rgba(255, 0, 0, 0.3); */
    /* width: max-content; */
    /* height: max-content; */
    /* background:#FFF; */
}

#han-slide{
  background-color: gray;


}

